    <div class="footer ui inverted menu">
        <div class="ui container">
            <p class="header item ">Flick Studio</p>
            <p class="item" id="small"> &copy;  Copyright 2020, India</p>
            <div class="right menu item">
                <p>MD. SAIFUL HASAN</p>
            </div>
        </div>
    </div>
    </body>
</html>